body{
    background-color: bisque;
}
h1 {
    display: inline-block;
    width: 20%; /* adjust the width as needed */
    margin-right: 10px; /* add some spacing between the h1 and input elements */
  }
  
  